@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
}
#map {
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info-pane {
  z-index: 999;
  position: absolute;
  top: 20px;
  right: 40px;
}
#info-park-name {
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  max-width: 800px;
  word-wrap: break-word;
  line-height: 1em;
  text-align: right;
  font-size: 10em;
  margin: 0;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.65),
               -1px -1px 10px rgba(0, 0, 0, 0.65),
               -1px 1px 10px rgba(0, 0, 0, 0.65),
               1px -1px 10px rgba(0, 0, 0, 0.65);
}

.leaflet-tile {
  filter: saturate(2) contrast(0.75);
}